In [7]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [8]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [42]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

june_temp = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "06")

In [45]:
#  3. Convert the June temperatures to a list.
june_results = []
june_results = june_temp

In [46]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_results, columns=['Date','June Temps'])
june_df.set_index(june_df['Date'], inplace=True)
june_df.head()

                  Date  June Temps
Date
2010-06-01  2010-06-01        78.0
2010-06-02  2010-06-02        76.0
2010-06-03  2010-06-03        78.0
2010-06-04  2010-06-04        76.0
2010-06-05  2010-06-05        77.0

In [47]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [36]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_temp = session.query(Measurement.date, Measurement.tobs).filter(func.strftime("%m", Measurement.date) == "12")

In [48]:
# 7. Convert the December temperatures to a list.
dec_results = []
dec_results = december_temp

In [49]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(dec_results, columns=['Date','December Temps'])
december_df.set_index(december_df['Date'], inplace=True)
december_df.head()

                  Date  December Temps
Date
2010-12-01  2010-12-01            76.0
2010-12-03  2010-12-03            74.0
2010-12-04  2010-12-04            74.0
2010-12-06  2010-12-06            64.0
2010-12-07  2010-12-07            64.0

In [50]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [57]:
# Additional query showing rainfall for June
june_prcp = session.query(Measurement.date, Measurement.prcp).filter(func.strftime("%m", Measurement.date) == "06")
june_rain_results = []
june_rain_results = june_prcp
june_prcp_df = pd.DataFrame(june_rain_results, columns=['Date','June Rainfall'])
june_prcp_df.set_index(june_prcp_df['Date'], inplace=True)
june_prcp_df.describe()

       June Rainfall
count    1574.000000
mean        0.136360
std         0.335731
min         0.000000
25%         0.000000
50%         0.020000
75%         0.120000
max         4.430000

In [59]:
# Additional query showing rainfall for December
dec_prcp = session.query(Measurement.date, Measurement.prcp).filter(func.strftime("%m", Measurement.date) == "12")
dec_rain_results = []
dec_rain_results = dec_prcp
dec_prcp_df = pd.DataFrame(dec_rain_results, columns=['Date','December Rainfall'])
dec_prcp_df.set_index(dec_prcp_df['Date'], inplace=True)
dec_prcp_df.describe()

       December Rainfall
count        1405.000000
mean            0.216819
std             0.541399
min             0.000000
25%             0.000000
50%             0.030000
75%             0.150000
max             6.420000